.menu
  display: block
  +position(fixed, 0 null null 0)
  width: 100%
  height: 100%
  padding-top: 80px
  background-color: $base-color
  overflow-y: auto
  opacity: 0
  visibility: hidden
  z-index: 9
  transition: all $animation-duration - .2s ease-in-out
  &.transparent
    background-color: transparent
  &.animate-in
    opacity: 1
    visibility: visible
    .menu__media
      .media-object
        &:nth-of-type(6)
          opacity: 1
          transform: translateX(0)
          transition: transform .6s $animation-delay - .2s
        &:nth-of-type(5)
          opacity: 1
          transform: translateX(0)
          transition: transform .6s $animation-delay - .1s
        &:nth-of-type(4)
          opacity: 1
          transform: translateX(0)
          transition: transform .6s $animation-delay
        &:nth-of-type(3)
          opacity: 1
          transform: translateX(0)
          transition: transform .6s $animation-delay + .1s
        &:nth-of-type(2)
          opacity: 1
          transform: translateX(0)
          transition: transform .6s $animation-delay + .2s
        &:nth-of-type(1)
          opacity: 1
          transform: translateX(0)
          transition: transform .6s $animation-delay + .3s
    .navigation
      li
        &:nth-of-type(1)
          opacity: 1
          transform: translateX(0)
          transition: transform .3s $animation-delay + .5s , opacity .3s $animation-delay + .5s
        &:nth-of-type(2)
          opacity: 1
          transform: translateX(0)
          transition: transform .3s $animation-delay + .6s , opacity .3s $animation-delay + .6s
        &:nth-of-type(3)
          opacity: 1
          transform: translateX(0)
          transition: transform .3s $animation-delay + .7s , opacity .3s $animation-delay + .7s
        &:nth-of-type(4)
          opacity: 1
          transform: translateX(0)
          transition: transform .3s $animation-delay + .8s , opacity .3s $animation-delay + .8s
  &.animate-out
    opacity: 0
    visibility: hidden
  +MQ(XL)
    padding-top: 0
    height: 100%
    min-height: 600px

.menu__navigation
  height: auto
  .navigation-container
    position: relative
    padding: 100px 0
  +MQ(XL)
    .navigation-container
      height: 100%
      padding: 0

.menu__media
  height: 100vh
  min-height: 600px
  overflow: hidden
  .media-object
    transform: translateY(100%)
    transition: opacity $animation-delay, transform $animation-delay

.menu__navigation,
.menu__media
  position: relative
  +MQ(XL)
    height: 100%

.menu-image
  position: relative
  height: 100%
  background-repeat: no-repeat
  background-position: center
  background-size: cover

.navigation
  position: relative
  padding: 0 3.3rem
  li
    display: block
    position: relative
    margin: 0 0 3.4rem 0
    overflow: hidden
    opacity: 0
    transform: translateY(50px)
    transition: opacity $animation-delay, transform $animation-delay
    &:last-of-type
      margin: 0
  +MQ(XL)
    position: absolute
    left: 80px
    +center(y)
    width: calc(100% - 80px)
    padding: 0 8rem
  +MQ(XXL)
    left: 100px
    width: calc(100% - 100px)
    padding: 0 10rem
    li
      margin: 0 0 4rem 0

.navigation__item
  display: block
  position: relative
  padding: 0
  .subtitle
    display: block
    font: normal 400 1.4rem/1.2 $default-font
    text-transform: uppercase
    letter-spacing: 0.1rem
    padding-left: 2px
    color: $text-light-mute
    transition: all 0.3s ease-in-out
  .link
    display: inline-block
    position: relative
    font: normal 500 4.6rem/1 $title-font
    text-transform: uppercase
    color: $text-light-base
    transition: all 0.3s ease-in-out
  .no-touch &:hover
    .subtitle,
    .link
      color: $text-light
  &.active-link
    .subtitle
      color: $text-light
    .link
      color: $text-light
      background: -webkit-linear-gradient(0deg, $accent-color-two 0%, $accent-color 100%)
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent
    .no-touch &:hover
      .subtitle
        color: $text-light
      .link
        overflow: visible
        color: $text-light
        background: -webkit-linear-gradient(0deg, $accent-color-two 0%, $accent-color 100%)
        -webkit-background-clip: text
        -webkit-text-fill-color: transparent
  +MQ(M)
    .link
      font-size: 5.4rem
  +MQ(XXL)
    .link
      font-size: 7rem
